/*Sass file that sorts the variable $list_to_sort and prints the sorted list in the debug output.*/
@use 'sass:list';
@use "sass:string";
@import "103-sort_list";

@function remove-at($list, $index) {
  $new-list: ();
  @for $i from 1 through list.length($list) {
    @if $i != $index {
      $new-list: list.append($new-list, list.nth($list, $i));
    }
  }
  @return $new-list;
}

@function sort($list) {
  $alphabet: "abcdefghijklmnopqrstuvwxyz";
  $sorted: ();

  @while list.length($list) > 0 {
    $min: list.nth($list, 1);
    $min-index: 1;

    @if list.length($list) > 1 {
      @for $i from 2 through list.length($list) {
        $current: list.nth($list, $i);

        @if string.index($alphabet, string.to-lower-case(string.slice($current, 1, 1))) <
            string.index($alphabet, string.to-lower-case(string.slice($min, 1, 1))) {
          $min: $current;
          $min-index: $i;
        }
      }
    }

    $sorted: list.append($sorted, $min);
    $list: remove-at($list, $min-index);
  }

  @return $sorted;
}

$sort-list: sort($list_to_sort);
@debug $sort-list;
